*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: #002339;
}
.container{
    margin-left: 150px;
    margin-top: 150px;
}
.container h1{
    color: #fff;
    font-size: 45px;
    padding-bottom: 10px;
    width: 100%;
}
.container span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
}
.input-container{
    background: white;
    display: flex;
    width: 80%;
    max-width: 700px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    border-radius: 5px;
    padding: 25px;
    height: 84px;
}
.input-container input{
    border: none;
    outline: none;
    font-size: 22px;
    flex: 1;
}
.input-container img{
    width: 31px;
    cursor: pointer;
}
button{
    display: flex;
    align-items: center;
    background: #019f55;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding:  15px 25px;
    margin-top: 30px;
    cursor: pointer;
}
button img{
    width: 30px;
}
button:hover{
    background: #00b46a;
    transition: 0.15s;
}